<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Information_System_for_eSport.Properties.Settings.CybersportDBConnectionString"
            connectionString="Data Source=RK\SQLEXPRESS;Initial Catalog=CybersportDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>